doctype html

html(lang="en-US")
  head
    title Alternative to missing ingredients
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")
    
  body 
    header 
      h1.bannerBorder PANTRY
      block headerLinks

    main 
      block main