doctype html

html(lang="en-US")
  head
    title Alternative to missing ingredients
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")
    
  body 
    header 
      .bannerBorder
        .bannerBorder.bannerBorder-content
          img.logo(src='hat-chef.png')
          h1.logo PANTRY
      .tagLine-flex
        .tagLine-flex.text
          p a substitute for the missing ingredient in your recipe.
      block headerLinks

    main 
      - let kinds = Object.keys(flash || {});
      if kinds.length > 0
        ul
          each kind in kinds
            each message in flash[kind]
              li.flash(class=kind)= message

      block main
