extends layout 

block main 
  .flex
    .inputDisplay 
      form(action="/newMain" method="post")
        dl
          dt 
            label(for="nameMain") Add a new ingredient
          dd 
            input.form(type="text"
                      id="nameMain"
                      name="nameMain"
                      placeholder="Ingredient Name")

        fieldset.actions 
          input#submit(type="submit" value="SUBMIT")
          a.button.cancel(href="/home") CANCEL