/*This is the main color scheme for the application.

color palette from coolers:
  Pale Spring bud: edeec9
  Pale Spring bud: dde7c7
  cambridge blue: bfd8bd
  eton blue 98c9a3
  eton blue: 77bfa3
*/

body {
  background-color: #77bfa3;
  text-align: center;
  font-size: 24px;
}

/* h1.bannerBorder{
  background-color: #98c9a3;
  background-color:var(--color-accent);
  box-sizing:border-box;
  color: #edeec9;
  display:flex;
  justify-content:center;
  margin-bottom:20px;
  margin-bottom:var(--module-25);
  padding:90px 0;
  
} */

h1.bannerBorder {
  background-color: #98c9a3;
  color: #edeec9;
  padding: 90px
}

ul#ingredientsList {
  color: #bfd8bd;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height:300px;
  width: 250px;
  border: 3px solid #000000;
  font-size: 16px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

fieldset.actions {
  width: auto;
  height: auto;
  border: #000;

}

.flash {
  background-color: #cbe5f2;
  color: #3399cc;
  margin: 20px 0 1.5rem;
  max-width: 1000px;
  padding: 10px 20px;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  background-color: #ffcfbf;
  color: #ff6633;
}

.flash.success {
  background-color: #cbf2e5;
  color: #33cc99;
}