/*This is the main color scheme for the application.

color palette from coolers:
  Pale Spring bud: edeec9
  Pale Spring bud: dde7c7
  cambridge blue: bfd8bd
  eton blue 98c9a3
  eton blue: 77bfa3
*/

body {
  background-color: #77bfa3;
  text-align: center;
  font-size: 24px;
}

/* h1.bannerBorder{
  background-color: #98c9a3;
  background-color:var(--color-accent);
  box-sizing:border-box;
  color: #edeec9;
  display:flex;
  justify-content:center;
  margin-bottom:20px;
  margin-bottom:var(--module-25);
  padding:90px 0;
  
} */

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.bannerBorder {
  background-color: #98c9a3;
  padding: 80px;
  /* margin-bottom: x; */
  display: flex;
  justify-content: center;
}

.bannerBorder-content{
  margin-top: -50px;
  margin-bottom: 30px;
  /* min-height: fit-content; */
  /* font-size: 60px; */

}

.navi-flex {
  display: flex;
  justify-content: center;
}

.navi{
  font-size: medium;
  border: 1px solid;
  padding: 2px 10px 2px 10px;
  width:fit-content;
  border-radius: 25px;
  background-color: #3399cc;
  color: #ddd;
  /* margin-top: -75px; */
}

h1.logo{
  color: #edeec9;
  margin-left: 10px;
  margin-top: 20px;
  text-shadow: 2px 2px 3px #6A6A6A;
  font-size: 70px;
  font-style: bold;
  /* border: 3px #000 solid; */
}

fieldset.actions {
  width: auto;
  height: auto;
  border: #000;
}

.flash {
  background-color: #cbe5f2;
  color: #3399cc;
  max-width: 1000px;
  padding: 10px 20px;
  margin: auto;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  background-color: #ffcfbf;
  color: #ff6633;
}

.flash.success {
  background-color: #cbf2e5;
  color: #33cc99;
}

img.logo{
  margin-right: 10px;
  padding: -10px;
  /* border: 3px #000 solid; */
  font-size: 10px;
  height: fit-content;
}

.lists{
  display: flex;
  justify-content: center;
}

.lists-flex{
  background-color: #f1f1f1;
  color: #bfd8bd;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height:300px;
  width: 250px;
  border: 3px solid #000000;
  box-shadow: 5px 5px 3px #6A6A6A;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -100px;
}

.main-list{
  overflow: auto;
  margin-right: 20px;
  padding-right: 30px;
}

p.combo {
  background-color: #3399cc;
  color:#000000;
  max-width:fit-content;
}

p#item:hover {
  background-color: #ddd;
  padding: 12px 16px;
}

p.result {
  background-color: #bfd8bd;
  color: white;
  margin:auto;
}

.tagLine-flex {
  display: flex;
  justify-content: center;
}

.text{
  color:#000000;
  font-size: 14px;
  font-family:'Courier New', Courier, monospace;
  margin-top: -190px;
  /* margin-left: 285px; */
  position:absolute;
  /* align-content: center; */
  border: 3px #000 solid;

}

.substitute-display{
  min-width: 225px;
}

