#search-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  position: absolute;
  /* top: 22%; */
  margin: 1rem 0rem 1rem 0rem;
}

#search-bar-container {
  width: 100vw;
  height: fit-content;
  
}

input#search-bar {
  /* width: 100%;
  height: 100%;
   */
  width: 80%;
  height: 35px;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0rem;
}