doctype html

html(lang="en-US")
  head
    title Quick hacks for your kitchen
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")
    
  body 
    header 
      .bannerBorder
        .bannerBorder.bannerBorder-content
          img.logo(src='hat-chef.png')
          h1.logo PANTRY  
      .tagLine-flex
        p.tagLine so you don't have to run to the store

      block headerLinks
      
      .flash-flex
        - let kinds = Object.keys(flash || {});
        if kinds.length > 0
          ul
            each kind in kinds
              each message in flash[kind]
                li.flash(class=kind)= message

    main 


      block main
