.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  /* align-content: center; */
  width: -webkit-fill-available;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  width: 81%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-btn { 
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 81%;
  margin: 1rem 0rem;
}