.question-container {
  position: relative;
  top: 10rem;
  /* padding: 1rem 1rem 2rem 1rem; */
  margin: .5rem 1rem;
  width: 90%;
}

p.question {
  font-size: 17px;
  text-align: initial;
  text-indent: .8rem;
  margin: 0.5rem 0.5em 1.5rem 0.5rem;
}

p#subtitle {
  margin: 0rem 0rem 1rem 0rem;
}

h3#title {
  position: relative;
  top: 15%;
  margin: .3rem;
}

