#loginPage {
  width: 100vw;
  background-color: #F5F5F5;
  color: #D69B82;
  font-size: 19;

  height: 95vh;

  position: absolute;
  bottom: 0rem;
  left: 0rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

#loginPage-container {
  position: absolute;
  z-index: 3;
  display: flex;
  bottom: 0rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* #loginPage-flex {
  position: absolute;
  z-index: 3;
  display: flex;
  bottom: 0rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
} */

form#loginForm {
  position: relative;
  top: 30%;
}

input[type=text] {
  font: 19px;
  font-weight: 300;

  margin: 1rem;
  width: 315px;
  height: 35px;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  /* box-shadow: 1px 13px 18px rgb(0 0 0 / 7%); */
  /* filter: drop-shadow(4px 4px 4px #747474); */
  border: 0;

}

input.login {
  border-bottom: .3rem solid #CBCBCB;
}

input.login::placeholder {
  color: #D69B82;
  font-size: 19px;
  font: 'Inter', sans-serif;
  font-weight: 600;
}

#resetPS-container {
  position: relative;
  top: 30%;
  right: 25%;
}

a#resetPS {
  /* top: 29%;
  right: 2%;
  position: relative; */
  text-decoration: underline;
  color: darkgrey;
  font-size: 14px;
}

p {
  font-size: 14px;
  position: relative;
  top: 16%;
  left: 0%;
  align-self: center;
}

button#homepage-btn {
  border: none;
  text-decoration: underline;
  position: absolute;
  left: 2rem;
  top: 2rem;
  text-indent: 1rem;
  background: url(../../../images/backArrow-btn.png) no-repeat;
  background-position-x: left;
  background-position-y: center;
}