button#naviBtn {
  background: transparent url(../../../images/navi-icon.png);
  background-position: center;
  width: 30px;
  height: 24px;
  border: 0px;
}

#naviBtn-container {
  position: absolute;
}