#search-container {
  background-color: #A7D389;
  height: 25%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#searchPage-container {
  z-index: 4;
  height: 100vh;
  width: 100vw;
  background-color: #F5F5F5;
}



#result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0rem;

}

#numOfResults-container {
  display: flex;
}

#numOfResults > h4 {
  margin: 1rem .5rem 0rem 1.5rem ;
}